// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --main-bg-color: #fbf5f4;
  --burger-width: 20px;
  --burger-height: 16px;
  --burger-line-height: 2px;
  --main-color: #f78f6e;
  --gradient-top: linear-gradient(to top, #f78f6e, #fb7299);
  --gradient-right: linear-gradient(to top, #f78f6e, #fb7299);
  --link-color: #b5bfbc;
}
