.contacts {
    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__content {
        display: flex;
        align-items: center;
        flex-basis: 80%;
    }

    &__info {
        padding-top: 11px;
        padding-bottom: 17px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: space-evenly;
        font-weight: 300;
        font-size: 14px;
    }

    &__list {
        min-width: 284px;
        margin-bottom: 40px;
    }

    &__item {
        &:first-of-type {
            margin-bottom: 21px;
        }

        &:nth-of-type(2) {
            margin-bottom: 32px;
        }
        
        & span {
            display: block;
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: underline;

        &::before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 100%;
        }

        &--map {
            margin-bottom: 20px;
            &::before {
                background: url("/img/location.png") center no-repeat, var(--gradient-top);
            }
        }

        &--review {
            &::before {
                background: url("/img/envelope.png") center no-repeat, var(--gradient-top);
            }
        }
    }

    &__copyright {
        display: inline-block;
        padding-right: 53px;
        margin-bottom: 54px;
    }

    &__btn {
        @include form-button;

        & span {
            @include plus;
        }
    }
}