.header {
  width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 25px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__contacts {
    font-family: "Montserrat", sans-serif;
  }
}

.burger {
  @include burger;
}
