.header {
  width: 100%;
    position: absolute;
    left: 0;
    top: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 69px;
    padding-bottom: 25px;
  }

  &__menu {
    display: inline-flex;
    align-items: center;

    &--non-active {
      display: none;
    }
  }

  &__contacts {
    font-family: "Montserrat", sans-serif;
  }
}

.burger {
  @include burger;
}

.menu {
    display: none;

  &__close {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 20px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 45%;
      width: 24px;
      height: 2px;
      background-color: var(--main-color);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__list {
    position: absolute;
    left: 50px;
    top: 0;
  }

  &__link {
    font-size: 16px;
    color: var(--link-color);

    &--active {
      color: var(--color-black);
    }
  }

  &--open {
    display: flex;
    position: relative;
  }
  
}